<div class="erow">
<% provide(:title, @mtitle) %>
<% @title=" | "+@mtitle %>
<%= render 'flash' %>
<script>
   update_heading('<%=@title%>');
   hide_uploaded_map();
</script>
<% if @id==0 %>
  <div class="erow-10px"><%= link_to "News-> ", '/maptalk/'+@id.to_s, remote: true, :id => 'all_link', :onclick => "linkHandler('all_link')" %>
<% else %>
  <div class="erow-10px"><%= link_to "All topics-> ", '/maptalk/'+@id.to_s, remote: true, :id => 'all_link', :onclick => "linkHandler('all_link')" %>
<% end %>
  <% if @messages and @messages.count>0 %>
    <b><%=link_to @messages.first.subject.capitalize, '/maptalk/'+@id.to_s+'/?thread='+URI.escape(@messages.first.subject), remote: true, :id => 'thread_link', :onclick => "linkHandler('thread_link')" %> </b></div>

    <% @messages.each do |message| %>
      <div class="erow">
           <% @show_message=message %>
           <%= render 'message_details' %>
       </div>
    <% end %>
  <% end %>
<div class="erow">
 <div class="hrline">
    <hr noshade size="4">
 </div>
</div>
<% @subject=@messages.first.subject.capitalize %>
<%=render 'message_form'%>
</div>
