<div class="erow">
  <div class="erow">
    <%= link_to "Map Series-> ", '/mapseries/', remote: true, :id => 'all_link', :onclick => "linkHandler('all_link')" %>
    <b><%=link_to @mapset.name, '/mapseries/'+@mapset.id.to_s, remote: true, :id => 'thread_link', :onclick => "linkHandler('thread_link')" %> </b>
  </div>
  <% provide(:title, 'Mapseries | '+@mapset.name ) %>
  <% @title=" | Mapseries | "+@mapset.name %>
  <%= render 'flash' %>

  <p><b>Series Name</b></br>
  <%=  @mapset.name %></p>

  <p><b>Details</b></br>
  <%= @mapset.details %></p>

  <p><b>Published by</b></br>
  <%= @mapset.publisher %></p>

  <p><b>Copyright notice</b></br>
  <%= @mapset.copyright %></p>

  <div id="sheetlist">
  <ul>
  <% @mapsheets.each do |ms| %>
    <% name=ms.name %>
    <% if ms.year_printed then name+=" ["+ms.year_printed.to_s+"]" end %>
    <li>
            <%=link_to name, '/mapsheet/'+ms.id.to_s,  remote: true, :id => 'refresh_link', :onclick => "linkHandler('refresh_link')"  %>
    </li>
  <% end %>
  </ul>

  </div>
</div>
