      <div class="tarea">
        <p>
          <b><%=link_to @show_message.subject, '/forum/1/?thread='+URI.escape(@show_message.subject), remote: true%> </b><br/>
          <small>
            <span style="color: #009900"><b>@<%= @show_message.fromName.capitalize %></b></span>
              <% message=@show_message.message.html_safe %>
              <% if message.length>255 then  %>
                    <%= message[0..245].html_safe %>
                    <%= link_to "... (more)", '/forum/1/?thread='+URI.escape(@show_message.subject), remote: true%>
              <% else %>
                    <%= message.html_safe %>
              <% end %>
              </br>
               <span style="color: #999999">(<%=@show_message.created_at.strftime("%Y/%m/%d %H:%M")%>)</span>
           </small>
         </p>
       </div>

       <p style="text-align: right">
         <small>
             <% if @count and @count>1 %> 
                <%=link_to (@count-1).to_s+" more messages ...", '/forum/1/?thread='+URI.escape(@show_message.subject), remote: true%>
             <% end %>
         </small>
       </p>


