<div class="erow">
<% provide(:title, 'Forum') %>
<% @title=" | Forum" %>
<%= render 'flash' %>
<script>
   update_title('<%=@title%>');
</script>
<div class="erow-10px"><%= link_to "All topics-> ", '/forum/'+@id.to_s, remote: true%>
  <% if @messages and @messages.count>0 %>
    <b><%=link_to @messages.first.subject.capitalize, '/forum/1/?thread='+URI.escape(@messages.first.subject), remote: true%> </b></div>

    <% @messages.each do |message| %>
      <div class="erow">
           <% @show_message=message %>
           <%= render 'message_details' %>
       </div>
    <% end %>
  <% end %>
<div class="erow">
 <div class="hrline">
    <hr noshade size="4">
 </div>
</div>
<% @subject=@messages.first.subject.capitalize %>
<%=render 'message_form'%>
</div>
