<% if @user %>
  <% if @user.errors.any? %>
    <div id="error_explanation" class="erow">
      <div class="alert alert-error">
        The form contains <%= pluralize(@user.errors.count, "error") %>.
      </div>
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li>* <%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<% end %>
<% if @map %>
  <% if @map.errors.any? or (@map.errortext and @map.errortext.length>0)%>
    <div id="error_explanation" class="erow">
      <% if @map.errortext and @map.errortext.length>0 %>
        <div class="alert alert-error">
          <%=@map.errortext %>
        </div>
      <% end %>
      <% if @map.errors.any? %>
        <div class="alert alert-error">
          The form contains <%= pluralize(@map.errors.count, "error") %>.
        </div>
        <% end %>
      </div>
      <% if @map.errors.any? %>
        <ul>
        <% @map.errors.full_messages.each do |msg| %>
          <li>* <%= msg %></li>
        <% end %>
        </ul>
      <% end %>
    </div>
  <% end %>
<% end %>
<% if @message %>
  <% if @message.errors.any? %>
    <div id="error_explanation" class="erow">
      <div class="alert alert-error">
        The form contains <%= pluralize(@message.errors.count, "error") %>.
      </div>
      <ul>
      <% @message.errors.full_messages.each do |msg| %>
        <li>* <%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<% end %>
