<div class="erow">
  <div class="erow">
    <%= link_to "Basemap -> ", '/basemap/', remote: true, :id => 'all_link', :onclick => "linkHandler('all_link')" %>
    <%=link_to @mapseries.name+" ->", '/basemap/'+@mapseries.id.to_s, remote: true, :id => 'thread_link', :onclick => "linkHandler('thread1_link')" %> 
    <b><%=link_to @mapsheet.name, '/seriessheet/'+@mapsheet.id.to_s, remote: true, :id => 'thread_link', :onclick => "linkHandler('thread2_link')" %> </b>
  </div>
  <% provide(:title, 'Basemap | '+@mapseries.name+' | '+@mapsheet.name ) %>
  <% @title=" | Basemap | "+@mapseries.name+" | "+@mapsheet.name %>
  <%= render 'flash' %>
 <%
    if params[:id] then
       box=Mapsheet.find_by_sql [ "select ST_Extent(extent) as name from mapsheets where id=?",params[:id] ]
       @mapsheet=Mapsheet.find_by_id(params[:id])
       @mapseries=Mapseries.find_by_id(@mapsheet.series_id)
       extentstr=box.first.name
       if extentstr.length>0 then
         extentstr=extentstr[4..-2]
         extentlist=extentstr.split(',')
         @sminx=extentlist[0].split(' ')[0]
         @sminy=extentlist[0].split(' ')[1]
         @smaxx=extentlist[1].split(' ')[0]
         @smaxy=extentlist[1].split(' ')[1]
       end
    end
%>
  <script>
     update_title('<%=@title%>');
     var readyStateCheckInterval = setInterval(function() {
         if (document.readyState === "complete") {
             clearInterval(readyStateCheckInterval);
             document.getElementById("page_status").innerHTML = '';
             site_zoom_to_seriessheet("<%=@mapseries.name%>","<%=@mapsheet.extent%>",<%=@sminx%>,<%=@smaxx%>,<%=@sminy%>,<%=@smaxy%>);
         }
     }, 10);

  </script>

  <p><b>Sheet Name</b></br>
  <%=  @mapsheet.name %></p>

  <p><b>Series</b></br>
  <%= @mapsheet.series %></p>

  <p><b>Edition</b></br>
  <%= @mapsheet.edition %></p>

  <p><b>Scale</b></br>
  <% if @mapsheet.scale then %> <%= "1:"+@mapsheet.scale.to_s %> <% end %></p>

  <p><b>Sheet number</b></br>
  <%= @mapsheet.sheet %></p>

  <p><b>Published by</b></br>
  LINZ / Lands and Survey

  <p><b>Copyright notice</b></br>
  CC (Attribution)

  <p><b>Year printed</b></br>
  <%= @mapsheet.year_printed %></p>

  <p><b>Year surveyed/revised</b></br>
  <%= @mapsheet.year_revised %></p>
    
  <p><b>Projection</b></br>
  <% p=Projection.find_by_id(@mapsheet.source_srid) %>
  <% if p %>
    <%=p.name%>
  <% end %>
  </p>

  <p><b>Original scanned map image</b></br>
  <%= link_to @mapsheet.dlink, @mapsheet.dlink, :id => 'download_link', :target => "_blank" if @mapsheet.dlink and @mapsheet.dlink.length>0 %>

</div>
