<div class="erow-10px"><b><%= link_to "All mapsheets", '/mapsheet/', remote: true, :id => 'all_link', :onclick => "linkHandler('all_link')" %></b>
  <% provide(:title, 'Mapsheets' ) %>
  <% @title=" | Mapsheets" %>
  <%= render 'flash' %>
  <script>
     update_title('<%=@title%>');
     document.getElementById("page_status").innerHTML = '';
  </script>
  <% if @mapsheets %>
    <ul>
      <% @mapsheets.each do |ms| %>
        <%if ms.year_printed%>
         <li><%=link_to ms.name+" ("+ms.year_printed.to_s+")", '/mapsheet/'+ms.id.to_s,  remote: true, :id => 'refresh_link', :onclick => "linkHandler('refresh_link')"  %></li>
        <% else %>
          <li><%=link_to ms.name, '/mapsheet/'+ms.id.to_s,  remote: true, :id => 'refresh_link', :onclick => "linkHandler('refresh_link')"  %></li>
        <% end %>
  
      <% end %>
    </ul>
  <% end %> 
</div>
  
