<div class="erow">
  <div class="erow">
    <%= link_to "All mapsheets-> ", '/mapsheet/', remote: true, :id => 'all_link', :onclick => "linkHandler('all_link')" %>
    <b><%=link_to @map.name, '/mapsheet/'+@map.id.to_s, remote: true, :id => 'thread_link', :onclick => "linkHandler('thread_link')" %> </b>
  </div>
  <% provide(:title, 'Mapsheet | '+@map.name ) %>
  <% @title=" | Mapsheet | "+@map.name %>
  <%= render 'flash' %>
  <script>
     update_title('<%=@title%>');
//     hide_uploaded_map();
     var readyStateCheckInterval = setInterval(function() {
         if (document.readyState === "complete") {
             clearInterval(readyStateCheckInterval);
             document.getElementById("page_status").innerHTML = '';
             site_update_selected_layer(<%=@map.id%>, '<%=@map.serverpath%>', <%=@map.grid_xleft%>, <%=@map.grid_xright%>, <%=@map.grid_ytop%>, <%=@map.grid_ybottom%>, <%=@map.source_srid%>, <%=@map.maxzoom%>);
         }
     }, 10);
  </script>
  <% if signed_in? and (@map.createdby_id==@current_user.id or @current_user.role_id==1) %>
    <div class="leftbuttons">
      <span title="Edit"%>
        <%=  link_to image_tag("/assets/pencil_edit.png", :border=>0, :class => 'dock-item'), '/mapsheet/'+@map.id.to_s+'/edit', remote: true, onclick: "linkHandler('editbutton')", id:  "editbutton"  %>
      </span>
    </div>
    <% if @current_user.role_id==1 %>
      <% if @map.mapstatus.name=="compressed" then %>
        <%= form_for  @map, :remote=> true, :html => {:name => 'uploadform'}, :url => '/mapsheet/'+@map.id.to_s   do |f| %>
           <%= submit_tag "Publish", class: "btn btn-small btn-primary", :style => 'margin-left:17px;', name: "_publish", onclick: "linkHandler('_publish')", id:  "_publish" %>  
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <p><b>Sheet Name</b></br>
  <%=  @map.name %></p>

  <p><b>Series</b></br>
  <% 
     ms=Mapset.find_by_sql [ "select * from mapsets where name=?", @map.series ]
     if ms and ms.count>0 then m=ms.first end
     if m then %> 
        <%= link_to @map.series, '/mapseries/'+m.id.to_s, remote: true, :id => 'all_link', :onclick => "linkHandler('mapseries_link')" %>
 
     <% else %>
        <%= @map.series %></p>
     <% end %>
  <p><b>Edition</b></br>
  <%= @map.edition %></p>

  <p><b>Scale</b></br>
  <% if @map.scale then %> <%= "1:"+@map.scale.to_s %> <% end %></p>

  <p><b>Sheet number</b></br>
  <%= @map.sheet %></p>

  <p><b>Published by</b></br>
  <%= @map.source %></p>

  <p><b>Copyright notice</b></br>
  <%= @map.attribution %></p>

  <p><b>Year printed</b></br>
  <%= @map.year_printed %></p>

  <p><b>Year surveyed/revised</b></br>
  <%= @map.year_revised %></p>
    
  <p><b>Projection</b></br>
  <% p=Projection.find_by_id(@map.map_srid) %>
  <% if p %>
    <%=p.name%>
  <% end %>
  </p>


  <p><b>Description</b></br>
  <%= @map.description %></p>

  <p><b>Original scanned map image</b></br>
  <% if @map.url and @map.url.length>0 %>
    <%= link_to @map.url, @map.url, :id => 'download_link', :target => "_blank"  %>
  <% else %>
    <i>Not Available</i>
  <% end %>
</div>
