<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="description" content="Historical NZMS 1 and NZMS 260 series topographic maps of New Zealand">
    <meta name="keywords" content="topo,nzms260,nzms1,one inch,63360,50000,260 series,topographic,map">
    <meta http-equiv="content-language" content="en-uk">

    <title>MapsPast | Current and historical topographic maps (topomaps) of New Zealand</title>
    <script src="/assets/OpenLayers.js"></script>
<% if @print %>
   <link rel="stylesheet" type="text/css" href="/assets/print.css" />
   <script src="/assets/html2canvas.js"></script>
   <script src="/assets/canvas-toBlob.js"></script>
   <script src="/assets/FileSaver.js"></script>
<% else %>
    <%= stylesheet_link_tag "application", media: "all", "jquery-ui.min" => true %>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
<% end %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  </head>
  <body onload='init()' style="cursor: auto;"> 
<!--    <div style="position:absolute;"> -->
      <%= form_tag '/redisplay', :remote=> true, :id => "thelink", :name=> 'extentform', :method=> 'post'%>
      <%
    if params[:id] then
       box=Mapsheet.find_by_sql [ "select ST_Extent(extent) as name from mapsheets where id=?",params[:id] ]
       extentstr=box.first.name
       if extentstr.length>0 then
         extentstr=extentstr[4..-2]
         extentlist=extentstr.split(',')
         @sminx=extentlist[0].split(' ')[0]
         @sminy=extentlist[0].split(' ')[1]
         @smaxx=extentlist[1].split(' ')[0]
         @smaxy=extentlist[1].split(' ')[1]
       end
    end
      %>
         <input type="hidden" name="xleft" <%'value='+@sminx if @sminx%>/>
         <input type="hidden" name="xright"<%'value='+@smaxx if @smaxx%>/>
         <input type="hidden" name="ytop"<%'value='+@sminy if @sminy%>/>
         <input type="hidden" name="ybottom"<%'value='+@smaxy if @smaxy%>/>
         <input type="hidden" name="srid"/>
         <input type="hidden" name="layerid" <%='value='+@selectedlayer.id.to_s if @selectedlayer%> />
         <input type="hidden" name="maximise" <%='value="1"' if @maximise%> />
         <input type="hidden" name="maxzoom"/>
         <input type="hidden" name="serverpath" <%='value='+@selectedlayer.serverpath if @selectedlayer%> />
         <input type="hidden" name="dxleft" <%='value='+@dleft if @dleft%> />
         <input type="hidden" name="dxright"<%='value='+@dright if @dright%> />
         <input type="hidden" name="dytop" <%='value='+@dtop if @dtop%> />
         <input type="hidden" name="dybottom" <%='value='+@dbottom if @dbottom%> />
         <input type="hidden" name="dsheetid" value="<%=@dsheetid%>" />
      </form>
<!--    </div> -->
<%if !@print %>

    <%= render 'layouts/header' %>

      <div class="wrapper">
        <ul id="tab">
            <li><%= link_to "Info ^^", "#",    :onclick => "map_bigger(); return false;" %></li>
            <li><%= link_to "Map vv", "#",    :onclick => "map_smaller(); return false;" %></li>
        </ul>
      </div>

    <div id="main_page" class="container-fluid">
      <div class="row-fluid">
         <div id="left_panel_container" class="span3"> 
           <!--<div id="info_details" class="erow"></div> -->
           <div id="left_panel">
              <%=yield %>
           </div>
         </div>
         <div id="right_panel" class="span9">
           <%=render 'viewer/map' %>
         </div>
         <div class="clear"></div> 
      </div>
    </div>

<% else %>
         <%=render 'viewer/map' %>
<% end %>
  </body>
</html>
