<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="description" content="Historical NZMS 1 and NZMS 260 series topographic maps of New Zealand">
    <meta name="keywords" content="topo,nzms260,nzms1,one inch,63360,50000,260 series,topographic,map">
    <meta http-equiv="content-language" content="en-uk">

    <title>MapsPast | Current and historical topographic maps (topomaps) of New Zealand</title>
    <script src="/assets/OpenLayers.js"></script>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= stylesheet_link_tag "application", media: "all", "jquery-ui.mi" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
  </head>
  <body onload='init()' style="cursor: auto;"> 
    <%= render 'layouts/header' %>

    <div id="main_page">
       <div id="left_panel_container" class="panel"> 
         <div id="info_details" class="erow"></div>
         <div id="left_panel">
            <%=yield %>
         </div>
      </div>
       <div id="right_panel">
         <%=render 'viewer/map' %>
       </div>
       <div class="clear"></div> 
    </div>

  </body>
</html>
